/.ICEauthority
/.Xauthority
/.bash*
/.cache
/.cert
/.config
/.dbus
/.dmrc
/.esd_auth
/.face
/.face.icon
/.fonts
/.gtkrc-2.0
/.gvfs
/.kde
/.lesshst
/.local/share
/.mozilla
/.pki
/.profile
/.ssh/id_*
/.ssh/known_hosts
/.sudo_as_admin_successful
/.tig_history
/.vim/.netrwhist
/.vim/colors
/.viminfo
/.wget-hsts
/.xsession-errors*
/Desktop
/Documents
/Downloads
/documents
/downloads
/snap
/src
