*.swp
/.ICEauthority
/.Xauthority
/.Xclients
/.aptitude
/.bash*
/.cache
/.cdb2sql_history
/.cert
/.cinnamon
/.clangd
/.config
/.conky/
/.dbus
/.dir_colors
/.dmrc
/.docker/
/.esd_auth
/.face
/.face.icon
/.fonts
/.gconf/
/.gksu.lock
/.gnupg
/.gtk-2.0/
/.gtkrc-2.0
/.gtkrc-2.0-kde4
/.gtkrc-xfce
/.gvfs
/.icons
/.kde
/.lesshst
/.linuxmint
/.local
/.local/share
/.mozilla
/.pki
/.profile
/.python_history
/.sqlite_history
/.ssh/id_*
/.ssh/known_hosts
/.sudo_as_admin_successful
/.thumbnails/
/.tig_history
/.vim
/.viminfo
/.wget-hsts
/.xfce4-session.verbose-log
/.xfce4-session.verbose-log.last
/.xinitrc
/.xscreensaver
/.xsession-errors*
/Desktop
/Documents
/Downloads
/documents
/downloads
/include
/lib
/snap
/src
/var/akdb.tar.gz
/var/comdb2.tar.gz
