/.ICEauthority
/.Xauthority
/.bash*
/.cache/
/.cert
/.config/
/.dbus/
/.dmrc
/.esd_auth
/.lesshst
/.local/share/
/.mozilla/
/.profile
/.ssh/id_*
/.ssh/known_hosts
/.tig_history
/.vim/.netrwhist
/.vim/colors
/.viminfo
/.wget-hsts
/.xsession-errors*
/Documents
/Downloads
/src
